@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela', sans-serif;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding: 6rem;


}

body {
    background-color: #e6eff4;
}


.container {

    width: 100vw;
    height: auto;

}

nav {

    background-color: #27282D;
    display: flex;
    width: 100%;
    height: 6rem;
    padding: 0 6rem 0 6rem;
    position: fixed;
    top: 0;
    z-index: 1;
}

.item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    justify-content: start;
}

.contact {
    justify-content: end;

}

.logo h1 {
    color: rgb(237, 236, 236);
    font-size: 2.1rem;
}

.menu {
    list-style-type: none;
    gap: 3rem;

}

.menu li a {
    text-decoration: none;
    color: rgb(218, 216, 216);
    font-size: 1.4rem;
}

#btn {

    width: 9rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: rgb(229, 226, 226);
}

#cont-btn {
    background-color: #1ca8c5;
    width: 100%;
    height: 100%;
    border-style: none;
    color: rgb(255, 255, 255);
    border-radius: 3rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

#cont-btn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;

}

#cont-btn:hover {
    transform: translateY(-.4rem);
    transition: all 0.1s ease-in-out;
}

.menu li {
    position: relative;
}

.menu li:hover {
    transform: translateY(.3rem);

}

.menu li:hover::after {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: .2rem;
    top: 100%;
    left: 0;
    animation-name: anima;
    animation-duration: 0.6s;
}

.active::after {
    content: "";
    position: absolute;
    background-color: rgb(245, 242, 242);
    height: .2rem;
    width: 100%;
    top: 100%;
    left: 0;


}


@keyframes anima {
    from {
        width: 0%;

    }

    to {
        width: 100%;

    }

}

.content {
    width: 100vw;
    height: auto;

}

#home {

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40rem 40rem;
    padding: 1rem;




}

.home-item {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;




}

.home-item img {
    width: 100%;
    height: 100%;
}


.home-item p {
    padding: 0 1.5rem 0 1.5rem;
    font-weight: bold;
    color: rgb(93, 91, 91);
    text-align: justify;
    font-size: 1.4rem;



}

#details {

    width: 100%;
    height: 30rem;
    background-color: #27282D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;


}

#details h1 {
    color: white;
    font-weight: bolder;
    font-size: 4.5rem;
}

#details p {
    color: rgb(208, 241, 237);
    font-size: 1.4rem;
}

.exolorebtn {
    width: 15rem;
    height: 3.3rem;
    background-color: white;



}

#details li {
    height: 93%;
    list-style: none;
    background-color: #27282D;
    transition: all.3s;
    font-size: 1.4rem;




}

#details li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1rem solid white;
    color: white;
}

#details li:hover {
    transform: translateY(-.5rem);
}

#about {

    width: 100%;
    height: 45rem;
    display: flex;
    position: relative;
    background-image: url("image/img4.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

#about p {

    background-color: #27282D;
    color: white;
    width: 25rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    animation: beforhover 0.5s;

}

#about p:hover {
    color: rgb(100, 130, 239);
    animation: afterhover 0.5s;
    animation-fill-mode: forwards;
}



.aboutsection {
    position: relative;
    background-color: white;
    height: 75rem;
    background-image: url("image/img5.png");

    background-size: 100% 100%;


}

@keyframes afterhover {
    0% {
        font-size: 3rem;
    }

    100% {
        font-size: 3.5rem;
        color: #27282D;
        ;
        background-color: white;
        font-weight: bolder;
        border-radius: 1.5rem;
    }


}

@keyframes beforhover {
    0% {
        font-size: 3.5rem;
        border-radius: 1.5rem;
    }

    100% {
        font-size: 3rem;
        border-radius: 0rem;
        color: #ffffff;
    }


}

.about-details {
    width: 100%;
    height: 25rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    background: none;
    position: absolute;
    bottom: 16%;







}

.det {
    box-shadow: .1rem .1rem 1.5rem rgb(46, 46, 46);
    width: 25rem;
    height: 100%;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    background-size: 100% 100%;
    overflow: hidden;



}

.det img {
    position: absolute;
    right: 0%;
    height: 100%;

}





.det-inside {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: .5rem;

    visibility: hidden;



}

.det-inside p {
    color: rgb(255, 255, 255);
    border: .1rem solid white;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: justify;






}



.det:hover {


    box-shadow: .1rem .1rem .8rem rgb(46, 46, 46);
    transform: translateY(-2rem);


}

.det:hover .det-inside {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;

}




.cnt-div {
    width: 100%;
    height: 50rem;
    background-image: url("image/img2.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;


}

.main-cnt {
    width: 60%;
    height: 80%;
    background-color: white;
    display: flex;
    border-radius: 1.5rem;
    box-shadow: .2rem .2rem 1.5rem rgb(0, 0, 0);
}

.formdiv {
    height: 100%;
    width: 60%;
}

.cnt-img {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.cnt-img img {
    width: 100%;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

form p {
    font-size: 2rem;
    font-weight: bold;

}

form input {
    border: .1rem solid;
    width: 60%;
    height: 3.5rem;
    background-color: #E7E7E7;
    border: none;
    border-radius: 3rem;
    padding-left: 2rem;
    font-weight: bold;
    font-size: 1.3rem;
    outline-color: #816DD7;


}

form textarea {
    width: 60%;
    resize: none;
    height: 10rem;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-top: 1.5rem;
    border: none;
    background-color: #E7E7E7;
    font-weight: bold;
    font-size: 1.3rem;
    outline-color: #816DD7;




}

form button {
    width: 60%;
    border: none;
    height: 3.5rem;
    border-radius: 3rem;
    cursor: pointer;
    background-color: #816DD7;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

form button:hover {
    width: 55%;
    font-size: 1.5rem;
    transition: all 0.3s;

}

footer {

    width: 100vw;
    height: 20rem;
    background-color: #27282D;
    display: flex;
    padding-top: 1rem;
}

.ftr-div {

    height: 100%;
    width: 50%;


}

.ftr-div2-div {

    display: flex;





}

.ftr-div2-div div {

    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;



}

.ftr-div2-div div ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.ftr-div2-div div p {
    color: white;
    font-size: 1.4rem;


}

.ftr-div2-div div li {
    list-style: none;
    cursor: pointer;
    color: rgb(211, 210, 210);
    font-size: 1.2rem;
}

.ftr-div2-div div li:hover {
    color: rgb(217, 217, 22)
}

.address {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1.5rem;

}

.add {

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.1rem;



}

.png {

    width: 10%;
    height: 3rem;
    display: flex;
    justify-content: center;
    padding: .5rem;


}

.png img {
    height: 100%;
}

.addcont {

    color: rgb(211, 210, 210);
    display: flex;
    width: 90%;
    font-size: 1.4rem;

}

.social-link {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    justify-content: center;



}

.scl-mda-icon {

    width: 2.3rem;
    height: min-content;
    cursor: pointer;


}

.scl-mda-icon img {
    width: 100%;
    filter: drop-shadow(.1rem .1rem .2rem rgb(105, 103, 103));


}

.scl-mda-icon:hover img {
    width: 88%;
    filter: none;



}


@media only screen and (max-width: 480px) {
    html {
        font-size: 45%;
    }

    html {

        scroll-padding: 8rem;


    }



    nav {

        background-color: #27282D;
        height: 8rem;
        padding: 0 1.5rem 0 1.5rem;
        justify-content: space-evenly;
    }

    .item {
        width: auto;
    }

    .logo h1 {

        font-size: 2.2rem;
        color: #816DD7;

    }

    .menu {
        gap: 1.5rem;

    }

    .menu li a {

        font-size: 1.8rem;
        font-weight: bold;
    }

    #btn {

        width: 9rem;
        height: 4rem;



    }

    #cont-btn {
        background-color: #816DD7;
    }

    #cont-btn a {
        font-size: 1.5rem;
    }

    #details {
        margin-top: 7.6rem;
    }

    #details h1 {
        font-size: 3.5rem;
    }

    #details p {
        font-size: 1.6rem;
    }

    .exolorebtn {
        height: 4rem;
    }

    #details li {

        font-size: 1.7rem;
    }


    #home {
        display: block;
        padding: .5rem;
    }

    .home-item p {


        min-height: 15rem;
        display: flex;
        align-items: center;
        font-size: 1.7rem;

    }

    .aboutsection { height:163rem;}
    
.about-details {
   min-height: 40rem;
    display: block;position:static;
  
}

.det {
   width: 100%;
   
}
.det-inside p {font-size: 2rem;
}








.main-cnt {
    width: 92%;
    border-radius: 0rem;
    
}
form p {
    font-size: 2.5rem;
}

form input {
   
    width: 85%;
    height: 4rem;
     font-weight: bold;
    font-size: 1.5rem;

}

form textarea {
    width: 85%;
    font-size: 1.5rem;
}

form button {
    width: 85%;
    height: 4rem;
   font-size: 1.6rem;
}

form button:hover {
    width: 60%;
    font-size: 1.8rem;
}

footer {

    height: auto;display: flex;
    flex-direction: column;
    align-items: center;
    padding:0;
    
}



.ftr-div2-div {
    
width: 100%;
padding: 1.5rem 0;
border-bottom: .1rem solid rgb(165, 165, 163);

}
.ftr-div2-div div p {
 
    font-size: 1.7rem;

}

.ftr-div2-div div li {
   
    text-align: center;
    font-size: 1.5rem;
}

.address {
    width: 100%;
    padding: 1.5rem;
    border-bottom: .1rem solid rgb(165, 165, 163);
    

}


.png {padding:.6rem;
}



.addcont {
 font-size: 1.5rem;

}

.social-link {
    gap: 2.5rem;
    padding: 1.5rem 0;

}

.scl-mda-icon {

    width: 2.5rem;

}

.scl-mda-icon img {
   
    filter: none;

}



}